<!DOCTYPE html>
<html>
  <body>
    <p>Hi {{.Username}},</p>
    <p>We received a request to reset your password.</p>
    <p><a href="{{.Link}}">Click here to reset your password</a></p>
    <p>This link will expire on {{.ValidUntil}}.</p>
    <p>If you didn’t request this, you can safely ignore this email.</p>
  </body>
</html>
